.filter-bg {
  background: rgb(30,51,94);
  background: radial-gradient(circle, rgba(30,51,94,0.04525560224089631) 0%, rgba(26,31,38,1) 100%);
  z-index: -1;
}

.bg-solid {
  @apply bg-dark;
  z-index: -2;
}